.navbar {
  min-height: 50px;
  transition: all 0.5s ease-in-out, padding 0.5s ease-in-out;
  z-index: 10;
  .navbar-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .hexagon {
      --b: 2px; /* Border thickness */
      height: 25px; /* Hexagon height */
      aspect-ratio: 1 / cos(30deg);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 12px; /* Adjust as needed */
      color: white; /* Text color */
      font-weight: bold;
    }

    .hexagon::before {
      content: '';
      position: absolute;
      inset: 0;
      background: #00b8db; /* Hexagon background */
      clip-path: polygon(
        0 50%,
        50% -50%,
        100% 50%,
        50% 150%,
        0 50%,
        var(--b) 50%,
        calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
        calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
        calc(100% - var(--b)) 50%,
        calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
        calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
        var(--b) 50%
      );
      z-index: -1; /* Ensures content stays above */
    }
  }
}
.top-nav-collapse {
  padding: 0;
  background: #000;
  z-index: 10;
}
